.formulario-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 320px;
  margin: 40px auto;
  padding: 24px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.formulario-login h1 {
  color: #333;
  margin-bottom: 10px;
}

.formulario-login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.formulario-login button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.formulario-login button[type="submit"] {
  background-color:  #090909fe;
  color: white;
}

.formulario-login button[type="submit"]:hover {
  background-color: #FF2Da8;
}

.formulario-login button[type="button"] {
  background-color: #f44336;
  color: white;
}

.formulario-login button[type="button"]:hover {
  background-color: #d32f2f;
}