.navbar {
  background-color: #FF2Da8;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navlink {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.navlink:hover {
  background-color: #f0f0f0;
}

.navlink.active {
  background-color: #090909fe;
  color: white;
}

.navbar-logo .logo {
  width: 120px;
  height: auto;
}
.logo {
  width: 80px;   
  height: auto;  
}