#lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

#lista-productos li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#lista-productos li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

#lista-productos img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

#lista-productos button {
  background-color: #FF2Da8;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#lista-productos button:hover {
  background-color: #090909fe;
}

footer {
  background-color: #FF2Da8;
  color: #fff;
  padding: 40px 20px 20px;
  margin-top: 40px;
}

.footer-contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 20px;
}

.footer-seccion h3 {
  margin-bottom: 10px;
  color: #000000;
}

.footer-seccion p, 
.footer-seccion ul, 
.footer-seccion a {
  color:white;
  font-size: 0.95rem;
  line-height: 1.5;
  text-decoration: none;
}

.footer-seccion ul {
  list-style: none;
  padding: 0;
}

.footer-seccion ul li {
  margin-bottom: 8px;
}

.footer-seccion ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 0.9rem;
  color: #000000;
}

main {
  width: 70%;
  padding-left: 15%;
}
